proxmox = {
  endpoint     = "https://pve.domain"
  insecure     = true
  username     = "user"
  password     = "password"
  api_token    = "user@pve!terraform=secret"
}

github = {
  token      = "github_pat"
  org        = "username"
  repository = "repository"
}
