proxmox = {
  endpoint     = "https://pve.domain"
  insecure     = true
  username     = "user"
  password     = "password"
  api_token    = "user@pve!terraform=secret"
}

gitops = {
  repository = "repository"
  token      = "github_pat"
  cluster_name = "cluster_name"
}
