---
version: v1alpha1
machine:
  install:
    disk: ${install_disk}
  time:
    servers:
      - /dev/ptp0
  kernel:
    modules:
      - name: zfs
  features:
    kubePrism:
      enabled: true
      port: 7445
cluster:
  allowSchedulingOnControlPlanes: ${allow_scheduling_on_control_planes}
  # Cilium CNI
  network:
    cni:
      name: none
  proxy:
    disabled: true
  # inline bootstrap manifests 
  inlineManifests:
  - name: zfs-setup
    contents: |
      ${indent(6, zfs_setup)}
  - name: gateway-api-crds
    contents: |
      ${indent(6, gateway_api_crds)}
  - name: cilium-values
    contents: |
      ${indent(6, cilium_values)}
  - name: cilium-bootstrap
    contents: |
      ${indent(6, cilium_install)}
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: stable
%{ if vip_ip != null ~}
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: ${vip_ip}
link: ${vip_interface}
%{ endif ~}