---
version: v1alpha1
machine:
  install:
    disk: ${install_disk}
  time:
    servers:
      - /dev/ptp0
  kernel:
    modules:
      - name: zfs
  features:
    kubePrism:
      enabled: true
      port: 7445
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: stable
