machine:
  install:
    disk: ${install_disk}
  network:
    hostname: ${hostname}
# https://www.talos.dev/v1.7/talos-guides/configuration/time-sync/#additional-configuration
  time:
    servers:
      - /dev/ptp0
